<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
          background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
        }
  
       
  
      </style>

</head>
<body   style="background-color: rosybrown; ">
    <div  class="container-fluid">
    <center>
    <h1 style="color:yellowgreen">Library Management System</h1>
    <a href="/response1" style="padding-right: 390px; color: yellowgreen;">Admin</a>
    
</center>
</div>
</body>
</html>
